/* Table of content */

/* 1) Home Page Css Start Here */
/* 2) Footer Css Start Here */
* {
	margin:0px;
	padding:0px;
}
body {
	line-height: 1;
	font-size:15px;
	color:rgb(28,28,28);
	font-family: 'Lato', sans-serif;
	font-weight:400;
}
h2 {
	color:#064274;
	font-size:25px;
	line-height:28px;
	font-weight:700;
	text-transform:uppercase;
	margin:0 0 15px 0;
}
h3 {
	color:rgb(65,65,65);
	font-size:26px;
	line-height:28px;
	font-weight:700;
}
h4 {
	font-size:18px;
	color:rgb(69,69,69);
	line-height:24px;
	font-weight:400;
}
ol, ul {
	list-style: none;
	margin:10px 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
a {
	text-decoration:none;
}
a:focus {
	outline:none;
}
img {
	max-width:100%;
	height:auto;
	border:0;
	display:block;
}
p {
line-height: 16px;
margin-bottom: 19px;
text-align: justify;
font-size: 13px;
}
.container {
	width:600px;
	margin:0 auto;
	text-align:center;
}
#theme-8 {
	background:url(../images/body-bg.jpg) center top no-repeat;
	padding:60px 0 0;
}
li {
	font-size:16px;
	color:rgb(69,69,69);
	background:url(../images/li-bg.png) left 6px no-repeat;
	padding-left:18px;
	margin-bottom:12px;
	line-height:20px;
}
.content-box {
	width:85%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	display:inline-block;
	padding:25px 0px;
	background:rgba(255,255,255,0.8);
	margin-bottom:80px;
}

.box-border {
	border:2px solid #0b724f;
}

.box-border h2 {
	text-transform:none;
	font-weight:normal;
}

.box-border span,
.box-border a {
	color:#f85708;
	font-size:25px;
	line-height:34px;
	font-weight:700;
	text-transform:uppercase;
}
.send-email {
	font-family: 'Oswald', sans-serif;
	text-transform:uppercase;
	margin-bottom:67px;
}
.send-email h2 {
	margin:5px 0 12px 0;
}
.send-email span,
.send-email a{
	font-size:22px;
	color:#f85708;
	line-height:26px;
	font-weight:normal;
}
.msg-box {
	position:relative;
	margin-bottom:62px;
	background:none;
}
.msg-box a,
.msg-box span.link {
	display:inline-block;
	width:404px;
	height:221px;
	font-weight:700;
	background:url(../images/msg-box.png) center top no-repeat;
	font-size:30px;
	padding:25px 0 0 0;
	color:rgb(255,255,255);
	font-family: 'Lato', sans-serif;
}
.arrow-left, .arrow-right {
	width:89px;
	height:128px;
	position:absolute;
	top:-8px;
}
.arrow-left {
	left:-36px;
	background:url(../images/arrow-left.png) left top no-repeat;
}
.arrow-right {
	right:-36px;
	background:url(../images/arrow-right.png) right top no-repeat;
}
.box-instant {
	padding:13px;
	text-align:left;
	margin-bottom:65px;
	
}

.box-instant h4 span {
	font-family: 'Lato', sans-serif;
	font-size:23px;
	color:#064274;
	font-weight:700;
}

.box-border span.button-instant {
	display:block;
	text-align:center;
	margin:20px 0 10px;
}

.box-border span.button-instant a,
.box-border span.button-instant span.link {
	font-size:16px;
	color:#f85708;
	text-decoration:underline;
	text-transform:none;
}

.box-border span.button-instant:hover a {
	text-decoration:none;
}
/*Theme4 css */
footer {
	text-align:center;
	max-width:800px;
	margin:0 auto;
	background:#000;
}
footer ul {
	margin:0px;
}
footer li {
	display:inline-block;
	font-size:18px;
	text-transform:uppercase;
	padding:10px 2px;
	background:url(../images/footer-li-bg.jpg) right center no-repeat;
	margin:0px;
}
footer li:last-child {
	background:none;
}
footer li a {
	color:#fff;
	margin-right:6px;
}
footer li a:hover {
	text-decoration:underline;
}
/*Footer css*/



@media screen and (min-width: 641px) and (max-width: 800px) {	
	.container { width:600px; }
}

@media screen and (min-width: 480px) and (max-width: 640px) {	
	
	.container { width:400px; }
	 h2 { font-size:15px; line-height:20px; margin:0 0 4px; }	
	
	.box-border span,
	.box-border a{ font-size:17px; line-height:normal; }	
	
	
	
	#theme-8 { padding:20px 0 0; }
	
	.content-box { margin-bottom:20px; padding:15px 9px; }
	p { text-align:left; font-size:12px; }
	
	#theme-8 .content-box { padding:15px 0; }
	#theme-8 .content-box.msg-box { padding:0px; }
	
	.msg-box a, 
	.msg-box span.link{ width:100%; background-size:100% !important; font-size:18px; height:186px;  line-height:21px; }
	
	
	#theme-8 .arrow-left { 
	transform:scale(0.7);
	-moz-transform:scale(0.7);
	-webkit-transform:scale(0.7);
	-ms-transform:scale(0.7);
	-o-transform:scale(0.7);
	left:-77px;
	}
	
	 #theme-8 .arrow-right {
			transform:scale(0.7);
	-moz-transform:scale(0.7);
	-webkit-transform:scale(0.7);
	-ms-transform:scale(0.7);
	-o-transform:scale(0.7);
		right:-77px;
	 }
	
	
	.content-box.box-border { width:95%; }	
	
	
	#theme-8 .box-instant { margin-bottom:20px; padding:15px 15px; }
	.box-instant h4 span { font-size:17px; }
	.box-border span.button-instant a,
	.box-border span.button-instant span.link { font-size:16px; line-height:16px; }
	#footer li { font-size:11px; }
	
}

@media screen and (min-width: 320px) and (max-width: 479px) {	
	.container { width:300px; }
	 h2 { font-size:15px; line-height:20px; margin:0 0 4px; }
	 
	.box-border span,
	.box-border a{ font-size:17px; line-height:26px; }	
	
	
	#theme-8 { padding:20px 0 0; }
	
	.content-box { margin-bottom:20px; padding:15px 9px; }
	p { text-align:left; font-size:12px; }
	
	#theme-8 .content-box { padding:15px 0; }
	#theme-8 .content-box.msg-box { padding:0px; }
	.msg-box a, 
	.msg-box span.link{ width:100%; background-size:100% !important; font-size:18px; height:134px;  line-height:21px; }
	
	#theme-8 .arrow-left { 
	transform:scale(0.4);
	-moz-transform:scale(0.4);
	-webkit-transform:scale(0.4);
	-ms-transform:scale(0.4);
	-o-transform:scale(0.4);
	left:-50px;
	}
	
	 #theme-8 .arrow-right {
		transform:scale(0.4);
	-moz-transform:scale(0.4);
	-webkit-transform:scale(0.4);
	-ms-transform:scale(0.4);
	-o-transform:scale(0.4);
		right:-50px;
	 } 
	 
	
	.content-box.box-border { width:95%; }
	
	
	#theme-8 .box-instant { margin-bottom:20px; padding:15px 15px; }
	.box-instant h4 span { font-size:17px; }
	.box-border span.button-instant a,
	.box-border span.button-instant span.link { font-size:16px; line-height:16px; }
	#footer li { font-size:11px; }
	
}